body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f4f3;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #eb8ad6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#display {
    width: 100%;
    height: 40px;
    text-align: right;
    margin-bottom: 10px;
    font-size: 1.5em;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #dba9a9;
    background-color: #f8fafa;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    background-color: #2ee72e;
    color: white;
    border: none;
    padding: 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5b71e4;
}